body{
    margin:auto;
    max-width: 1600px;
}

main, body>header{
    padding-left: 3rem;
    padding-right: 3rem;
}

@media screen and (min-width: 1200px){

  /* ***************************HEADER************************ */
  body>header nav{
    display: flex;
}

#logo{
      flex: auto;
      text-align: left;
    }

  nav #sInscrire{
    order: 1;
  }

  body>header{
    padding: 0 2rem 0 2rem;
}

  header nav a:not(:first-child){
    padding: 2rem;
    border-top: 5px solid transparent;
  }

  header nav a:first-child{
    padding-top: 2rem;
    }

  header nav a:nth-child(3):hover, header nav a:nth-child(4):hover{
    color: #0065FC;
    border-top: 0.3rem solid #0065FC;
  }    
  
  .fa-search::before{
    display: none;
  }

  .btn-primary{
  color: white;
  padding: 15px;
  background-color: #0065FC;
  border: 2px solid #0065FC;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  }

  .btn-primary strong{
    color: white;
  }

  #villeFiltres header{
    margin-left: 0;
    flex-wrap: wrap;
  }

  #villeFiltres h1{
    width: 100%;
  }

  #filtres{
    align-items: center;
  }

  #filtres>p{
    padding-right: 2rem;
  }

  .btn-primary{
    margin-left: -2.7rem;
  }

  /* *******************************figure.hebergements*********************************** */
  #hebergements{
    display: flex;
    background-color: #f2f2f2;
    border-radius: 2rem;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    padding: 2rem;
  }

  #hebergements>h1, #hebergements>h3{
    width: 100%;
    padding-left: 2rem;
  }
  
  .cardHebergement{
    display:flex;
    width: 29%;
    flex-direction: column;
    margin:1rem 0 1rem 0;
  }

  .cardPop{
    height: 11rem;
  }

  .cardPop h3{
    padding:0.4rem 0 0 1rem;
    margin:0rem;
    font-size: 1.3rem;
  }

  .cardHebergement img{
    width: 100%;
    height: 10rem;
  }

  main{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }

  main aside{
    order: 3;
  }

  section:nth-child(4){
    order: 3;
  }

  /* *************************figure.populaires*********************************** */
  aside{
    width: 28%;
    border-radius: 2rem;
    padding: 2rem;
    justify-content: space-around;
  }

  .cardPop img{
    width: 10.5vw;
  }

/* ************************ACTIVITES*************************** */
  #activites{
    width: 100%;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 14vw 3vw 3vw;
    grid-column-gap: 3rem;
  }

  #activites figure{
    position: relative;
    box-shadow:0.06rem 0.06rem 0.3rem rgb(173, 173, 173);
    border-radius: 1rem;
    object-fit: cover;
    margin: 0;
    }

  #activites figcaption{
    position: absolute;
    width: 95.5%;
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem 0 1rem 1rem;
  }

  #activites img{
    object-fit: cover;
    border-radius:1rem;
    width: 100%;
    height: 100%;
  }

  #activites h1{
    grid-column-end: span 4;
  }

  #activiteItem1{
    grid-row-start: 1;
    grid-row-end: span 5;
  }

  #activiteItem2{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  #activiteItem3{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: span 2;
  }

  #activiteItem4{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 5;
  }

  #activiteItem5{
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: span 1;
  }

  #activiteItem6{
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: span 3;
  }

  /* ************************FOOTER********************************** */
  footer nav{
    display: flex;
    justify-content:flex-start;
  }

  footer div{
    width: 33%;
  }
    
}