body{
    margin:auto;
    max-width: 1600px;
}

header{
    margin-left: 8rem;
    margin-right: 8rem;
}

@media screen and (min-width: 768px){

  /* ***************************HEADER************************ */
  #logo{
      flex: auto;
  }

  #sInscrire{
    order: 1;
  }

  header a[id=s_inscrire], header nav{
    padding: 2.3rem;
    /* padding-bottom: 2rem; */
  }
  
  header nav a{
    padding: 2rem;
    border-top: 5px solid transparent;
  }

  header nav a:hover{
    color: #0065FC;
    border-top: 0.3rem solid #0065FC;
    }    
  
  .fa-search::before{
    display: none;
  }

  .btn-primary{
  position: relative;
  left: -2rem;
  color: white;
  padding: 15px;
  background-color: #0065FC;
  border: 2px solid #0065FC;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  }

  .btn-primary strong{
    color: white;
  }

  #VilleFiltres{
    flex: auto;
  }

  #filtres>p{
    padding-right: 30px;
  }

  /* *******************************figure.hebergements*********************************** */
  #hebergements{
    display: flex;
    /* padding: 1rem; */
    background-color: #f2f2f2;
    border-radius: 2rem;
    width: 67%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #hebergements>h1, #hebergements>h3{
    width: 100%;
    padding-left: 2rem;
    /* margin-bottom: 0.5rem; */
  }
  
  figure{
    width:fit-content;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
  }

  .cardHebergement{
    display:flex;
    flex-direction: column;
    margin:0.5em;
  }

  .cardPop h3{
    padding:0.4rem 0 0 1rem;
    margin:0rem;
    font-size: 1.3rem;
  }

  .cardHebergement p{
    padding-left: 1rem;
    margin:0.5rem 0 0.5rem 0;
    font-size: 1rem;
  }

  .cardHebergement img{
    width: 250px;
    height: 125px;
  }

  main{
    margin-left: 8rem;
    margin-right: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }

  main aside{
    order: 3;
  }

  section:nth-child(4){
    order: 3;
  }

  /* *************************figure.populaires*********************************** */
  aside{
    width: 30%;
    border-radius: 2rem;
  }

  aside h1{
    padding-top: 0;
    padding-left: 2rem;
  }


  .cardPop img{
    width: 40%;
  }

  .cardPop .fa-star{
    padding-top: 2.5rem;
  }

/* ************************ACTIVITES*************************** */
  #activites{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4vw 6vw 2vw 3vw 2vw 5vw 4vw;
    grid-column-gap: 3rem;
  }

  #activites img{
    width: 100%;
    height: 100%;
  }

  #activites h1{
    grid-column-end: span 4;
  }

  .activiteItem1{
    grid-row-start: 2;
    grid-row-end: span 5;
  }

  .activiteItem2{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: span 2;
  }

  .activiteItem3{
    grid-column-start: 2;
    grid-row-start: 6;
    grid-row-end: span 1;
  }

  .activiteItem4{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: span 5;
  }

  .activiteItem5{
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: span 1;
  }

  .activiteItem6{
    grid-column-start: 4;
    grid-row-start: 5;
    grid-row-end: span 2;
  }

  /* ************************FOOTER********************************** */
  footer{
    display: flex;
    justify-content:flex-start;
  }

  footer ul{
    width: 20%;
    margin-left: 6rem;
  }

  footer ul:first-child li:last-child{
    padding-bottom: 2rem;
  }
    
}