*{
    text-decoration: none;
    font-family: raleway, sans-serif;
    color: black;
  }

body{
    margin:0;
}

header, main{
    margin-left: 30px;
    margin-right: 30px;
}

@media screen and (min-width: 768px){

  /* ***************************HEADER************************ */
  header{
    display: flex;
    align-items:center;
  }
  
  #logo{
      flex: auto;
  }

  #logo img{
    width: 5.5em;
  }

  #s_inscrire{
    order: 1;
    font-weight: bold;
    font-size: 1em;
    color: #0065FC;
  }
  
  header>nav{
      margin: 25px;
  }

  header>nav>a{
    font-size: 1em;
    text-align: center;
    color: black;
    padding: 20px;
  }
  
  header>nav>a:hover{
    color: #0065FC;
    border-top: 5px solid #0065FC;
  }

  footer{
      background-color: #f2f2f2;
  }
}