*{
    text-decoration: none;
    font-family: raleway, sans-serif;
    color: black;
    list-style: none;
  }

body{
    margin:0;
}

header, main{
    margin-left: 30px;
    margin-right: 30px;
}

@media screen and (min-width: 768px){

  /* ***************************HEADER************************ */
  header{
    display: flex;
    align-items:center;
  }
  
  #logo{
      flex: auto;
      padding: 20px;
  }

  #logo img{
    width: 6em;
  }

  #s_inscrire{
    order: 1;
    font-weight: bold;
    font-size: 1em;
    color: #0065FC;
  }
  
  header a{
      padding: 30px;
  }

  header>nav>a{
    font-size: 1em;
    text-align: center;
    border-top: 5px solid transparent;
    color: black;
    /* padding: 20px; */
  }
  
  header>nav>a:hover{
    color: #0065FC;
    border-top: 5px solid #0065FC;
    
  }
  #ville_et_filtres>form>p{
    margin-top: 30px;
  }

  #search_bar input{
    outline: none;
    border-color: transparent;
    padding: 15px 60px 15px 60px;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-radius: 30px;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 30px;
  }

  .fa-map-marker{
    position:absolute;
    padding: 15px;
    background-color: #f2f2f2;
    border: 4px solid #f2f2f2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .fa-search::before{
    display: none;
  }

  .btn-primary{
  position: absolute;
  left: 300px;
  color: white;
  padding: 15px;
  background-color: #0065FC;
  border: 2px solid #0065FC;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  }

  .btn-primary strong{
    color: white;
  }

  #filtres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #filtres>p{
    border:none;
    padding-right: 30px;
  }

  #filtres i{
    position: absolute;
    color: #0065FC;
    font-size: 1em;
    padding: 15px;
    background-color: #DEEBFF;
    border-radius: 50%;
  }

  #filtres>div strong{
    padding-right: 15px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }


  #filtres>div p{
    display: flex;
    white-space: nowrap;
    align-items: center;
    border: 4px solid #f2f2f2;
    border-radius: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 15px;
  }

  #info_search_result{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  #info_search_result p{
    padding-left: 10px;
    margin-top: 8px;
  }

  #info_search_result i{
    color: #0065FC;
    line-height: normal;
    padding: 5px 10px 5px 10px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
  }

  /* *******************************figure.hebergements*********************************** */
  #herbergements{
    display: flex;
  }
  
  figure{
    width:fit-content;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
  }

  figure.cardHebergement{
    padding: 0.4rem 0.4rem 1rem 0.4rem;
    border-radius: 1rem;
    margin-bottom: 1.2rem;
    box-shadow: 0.06rem 0.06rem 0.3rem rgb(173, 173, 173);
  }

  figure.cardHebergement h2{
    padding: 0.4rem 0.4rem 0 0;
    margin: 0rem;
    font-size: 1.2rem;
  }

  figure.cardHebergement p{
    padding: 0.4rem 0.4rem 0 0;
  }

  figure.cardHebergement img{
    width: 22rem;
    height: 11rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }
  /* *******************************figure.hebergements*********************************** */

}