/* Définition des polices personnalisées */
@font-face{
    font-family: "raleway";
    src:url("/fonts/Raleway/Raleway-VariableFont_wght.ttf"), url("/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}

body{
    padding: 0;
    margin: 0;
}

*{
    font-family: raleway, sans-serif;
}

@media screen and (min-width: 650px){
        
    header{
        display: flex;
        background-color: white;
        align-items: center;
    }

    a.header_item{
        font-family: raleway, sans-serif;
        font-weight: bold;
        font-size: 1em;
        text-decoration: none;
        color: #0065FC;
        padding-right: 50px;
        padding-left: 50px;
    }

    a.header_item:nth-child(1){
        flex: auto;
    }

    a.header_item:nth-child(2){
        order: 1;
    }

    a.header_item img{
        width: 5.5em;
    }

    header nav{
        display: flex;
    }

    .header_nav_item{
        font-family: raleway, sans-serif;
        font-size: 1em;
        text-decoration: none;
        color: black;
        padding: 30px;
    }

    a.header_nav_item:hover{
        color: #0065FC;
        border-top: 3px solid #0065FC;
    }

}