  *{
    text-decoration: none;
    font-family: raleway, sans-serif;
    color: black;
    list-style: none;
  }

  body{
    margin: 0;
  }

  main{
    margin-left: 20px;
    margin-right: 20px;
  }

  footer{
    padding: 20px;
  }

@media only screen and (max-width: 767.98px){

  /* ***************************HEADER************************ */
  header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo img{
    width: 5.5em;
    padding: 20px;
  }

  #s_inscrire{
    font-weight: bold;
    font-size: 1em;
    color: #0065FC;
    text-align: center;
    padding: 20px;
  }
  
  header>nav{
    display: flex;
    width: 100%;
  }

  header>nav>a{
    font-size: 1em;
    text-align: center;
    border-bottom: 5px solid #f2f2f2;
    width: 50%;
    color: black;
    padding: 10px;
  }
  
  header>nav>a:hover{
    color: #0065FC;
    border-bottom: 5px solid #0065FC;
  }

  #ville_et_filtres>form>p{
    margin-top: 30px;
  }

  #search_bar input{
    outline: none;
    border-color: transparent;
    padding-inline-start: 60px;
    padding-inline-end: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-radius: 30px;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 30px;
  }

  .fa-map-marker{
    position:absolute;
    padding: 15px;
    background-color: #f2f2f2;
    border: 4px solid #f2f2f2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .btn-primary{
    display: none;
  }

  .fa-search{
    position: absolute;
    left: 300px;
    color: white;
    padding: 15px;
    background-color: #0065FC;
    border: 4px solid #0065FC;
    border-radius: 20px;
  }

  #filtres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #filtres>p{
    border:none;
    width: 100%;
  }
  #filtres i{
    position: absolute;
    color: #0065FC;
    font-size: 1em;
    padding: 15px;
    background-color: #DEEBFF;
    border-radius: 50%;
  }

  #filtres>div strong{
    padding-inline: 15px;
    padding-inline-start: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }


  #filtres>div p{
    display: flex;
    white-space: nowrap;
    align-items: center;
    border: 4px solid #f2f2f2;
    border-radius: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 15px;
  }

  #info_search_result{
    display: flex;
    flex-direction: row;
  }

  #info_search_result p{
    padding-left: 10px;
    margin-top: 8px;
  }

  #info_search_result i{
    color: #0065FC;
    line-height: normal;
    padding: 5px 10px 5px 10px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
  }

  footer{
    background-color: #f2f2f2;
  }

  footer>ul{
    padding-inline-start: 0;
  }

  footer li{
    padding-bottom: 1em;
  }
}